<div class="d-flex justify-content-center">
    <div class="h-100 p-5 text-bg-dark rounded-3 border w-50 d-flex flex-column" style="gap: 32px;" id="menuContainer">
        <h1>Menu</h1>
        <div class="d-flex flex-column" style="gap: 16px;">
            <% var i = 0; %>
            <% categories.forEach(function (category) { %>
                <h2><%= category.name %></h2>
                <%
                    // Filter the menu items based on the category_id
                    const filteredMenu = menu.filter(item => item.category_id === category._id);
                    filteredMenu.forEach(function (menuItem) {
                        i++;
                %>

                    <div class="d-flex align-items-center">
                        <div class="me-auto">
                            <h5><%= i %>. <%= menuItem.name %><% if (!menuItem.flag) { %> <span class="badge text-bg-warning">Unavailable</span><% }%></h5>
                            <p><em><%= menuItem.description %></em></p>
                        </div>
                        <% if (!menuItem.flag) { %>
                            <del><p><em><%= menuItem.retail_price %> dkk</em></p></del>
                        <% } else { %>
                            <p><em><%= menuItem.retail_price %> dkk</em></p>
                        <% } %>
                    </div>
                <% }); %>
            <% }) %>
        </div>
    </div>
</div>
